* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "header header"
        "aside main";
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    display: flex;
    border-bottom: 1px solid gainsboro;
}

#logo {
    margin: 1.5rem 3rem 1.5rem 1rem;
    padding-right: 2rem;
    display: flex;
    gap: .5rem;
}

#logo i {
    font-size: 1.5rem;
    color: orange;
}

#right-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#search-bar {
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
    width: 50%;
    background-color: gainsboro;
    border-radius: 8px;
    height: 2.5rem;
}

#search-bar .bi-search {
    padding-top: 4px;
    color: darkgray;
}

#search-bar input {
    padding: 0.5rem;
    background-color: gainsboro;
    width: 100%;
    border: none;
}

#search-bar input:focus {
    outline: none;
}

#profile {
    display: flex;
    margin: 1rem;
    gap: 1rem;
    padding-top: 1rem;
}

#profile .bi-bell-fill {
    font-size: 1.5rem;
}

#profile img {
    border-radius: 50%;
}

aside {
    grid-area: aside;
    border-right: 1px solid gainsboro;
    margin-right: 20px;
}

aside ul {
    padding: 40px 20px;
}

main {
    grid-area: main;
}

.first-list {
    border-bottom: 1px solid gainsboro;
}

.list {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    color: gray;
}

.list i {
    font-size: 1.5rem;
}

.list h4 {
    padding-top: 4px;
}

.status {
    list-style: none;
}

.status h5 {
    padding-bottom: 1rem;
}

.progress-bar {
    width: 100%;
    background-color: lightblue;
    border: 1px solid white;
    height: 5px;
    border-radius: 5px;
}
  
.progress-comp {
    width: 80%;
    height: 100%;
    background-color: blue;
}

.progress-typo {
    width: 60%;
    height: 100%;
    background-color: blue;
}

.progress-color {
    width: 40%;
    height: 100%;
    background-color: blue;
}

.progress-mod {
    width: 60%;
    height: 100%;
    background-color: blue;
}

.progress-data {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.container {
    width: 85%;
    float: inline-end;
}

#courses {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 1rem;
    padding-top: 2rem;
    margin-bottom: 5rem;
}

.course {
    background-color: gainsboro;
    padding: .5rem;
    border-radius: 10px;
    text-align: center;
}

.details {
    width: 100%;
    display: flex;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 1rem;
}

.left-art, .right-art {
    background-color: lightblue;
    border-radius: 10px;
}

.title {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
}

.article-details {
    width: 65%;
    margin-top: 1rem;
    padding: 1rem;
}

.article-details h2 {
    font-size: 1.5rem;
    width: 100%;
}

.article-details .time {
    background-color: aquamarine;
    width: 5rem;
    padding: .5rem;
    border-radius: 10px;
    display: flex;
    gap: .5rem;
    margin: 1.5rem 0 2rem 0;

}

.theme-details {
    margin-top: 1rem;
    padding: 1rem;
    width: 35%;
    height: 100%;
}

.person-details {
    display: flex;
    gap: .5rem;
}

.chats {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "part part"
        "part part" ;
    gap: 1rem;
}

.part {
    background-color: lightblue;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
}

.chats img {
    width: 4.2rem;
}